{% extends 'layouts/auth_base.html' %}

{% block title %} Reset Password {% endblock title %}

{% block bodyclass %} login-page {% endblock bodyclass %}

{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'admin:users' %}"><b>Promo</b>Corp</a>
  </div>
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-body">
        <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
        <form action="#" method="post">
          {% csrf_token %}
  
          {% for field in form %}
          <div class="input-group mb-3">
            {{field}}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <small class="text-danger">{{ field.errors }}</small>
          {% endfor %}
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Change password</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
    <!-- /.login-card-body -->
  </div>
</div>

{% endblock %}
