{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Material Supplier {% endblock title %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            {% if not form.instance.pk %}
                <h1>Add Branch</h1>
            {% else %}
                <h1>Edit Branch</h1>
            {% endif %}
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'admin:store_branch_list' %}">Store - Branch Names</a></li>
                {% if not form.instance.pk %}
                <li class="breadcrumb-item active">Add Branch</li>
                {% else %}
                <li class="breadcrumb-item active">Edit Branch</li>
                {% endif %}
            </ol>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- jquery validation -->
          <div class="card card-primary">
            <div class="card-header">
                {% if not form.instance.pk %}
                <h3 class="card-title">Add Branch</h3>
                {% else %}
                <h3 class="card-title">Edit Branch</h3>
                {% endif %}
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="quickForm" method="POST">
              <div class="card-body">
                {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{field}}
                        </div>
                        <small class="text-danger">{{ field.errors }}</small>
                    {% endfor %}
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                {% if not form.instance.pk %}
                <button type="submit" class="btn btn-primary">Create Branch</button>
                {% else %}
                <button type="submit" class="btn btn-primary">Update Branch</button>
                {% endif %}
              </div>
            </form>
          </div>
          <!-- /.card -->
          </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  </div>
{% endblock %}
{% block extra_scripts %}
<!-- jquery-validation -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="{% static 'plugins/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/jquery-validation/additional-methods.min.js' %}"></script>
<script>
  $(function () {
        $("#id_phone").mask("0000 000 000");
        $("#id_abn").mask("00 000 000 000");
      $('#quickForm').validate({
      rules: {
        branch_name: {
              required: true
          },
          abn: {
              required: true
          },
          address: {
              required: true,
          },
          region_of_operation: {
              required: true
          },
          branch_contact: {
              required: true
          },
        phone: {
              required: true,
              australianPhone: true
          },
          email: {
            required: true,
            email: true
          }
      },
        messages: {
            phone:{
                required: "Phone is required.",
                australianPhone: "Please enter a valid Australian phone number (e.g., 0412 345 678)."
            }
        },
      errorElement: 'span',
      errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
      }
      });
      $.validator.addMethod("australianPhone", function(value, element) {
            // Regular expression for Australian phone number format (e.g., 0412 345 678)
            return this.optional(element) || /^\d{4} \d{3} \d{3}$/.test(value);
        }, "Please enter a valid Australian phone number (e.g., 0412 345 678).")
  });
</script>
{% endblock extra_scripts %}